# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Android build outputs
*.apk
*.aab
*.dex
*.class
bin/
gen/
out/
release/

# Gradle
.gradle/
build/
local.properties
*.log

# Android Studio
.idea/
*.iml
*.hprof
.cxx/

# Kotlin
.kotlin/

# Signing
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# macOS
.DS_Store

# local env files
.env*.local

# Cache directories
.cache/
captures/
